<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Miminium Admin Template v.1">
	<meta name="author" content="Isna Nur Azis">
	<meta name="keyword" content="">
	<title>大地-专利信息管理</title>
</head>
<body>
<!--header start-->
<div id="header" class="header">
	<div class="container-fluid">
		
	</div>
</div>
<!--header end-->
<!--sidebar start-->
<aside class="main-sidebar">
    <section  class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">大地后台管理系统</li>
            <li class="" style="display: block"><a href="index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
            <li class="treeview">
                <a href="javascript:;"> <i class="fa fa-file-powerpoint-o"></i> <span>著作权管理</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
					<li id="1" class="c-1 li-hide">
                        <a href="javascript:;"><i class="fa fa-credit-card"></i>作品信息管理<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
							<li class=""><a href="works-music.html"><i class="fa fa-edit"></i>音乐作品</a></li>
							<li class=""><a href="works-fineArts.html"><i class="fa fa-edit"></i>美术作品</a></li>
							<li class=""><a href="works-words.html"><i class="fa fa-edit"></i>文字作品</a></li>
							<li class=""><a href="works-theatre.html"><i class="fa fa-edit"></i>戏剧作品</a></li>
							<li class=""><a href="works-movies.html"><i class="fa fa-edit"></i>影视动画作品</a></li>
                        </ul>
                    </li>
					<li id="2" class="c-2 li-hide"><a href="produc-management.html"><i class="fa fa-credit-card"></i>产品信息管理</a></li>
                </ul>
            </li>
            <li id="4" class="c-4"><a href="trademark-management.html"><i class="fa fa-edit"></i> <span>商标信息管理</span></a></li>
            <li id="5" class="c-5 active"><a href="patent-management.html"><i class="fa fa-edit"></i> <span>专利信息管理</span></a> </li>
            <li id="6" class="c-6"><a href="field-management.html"><i class="fa fa-edit"></i> <span>域名信息管理</span></a> </li>
            <li id="3" class="c-3"><a href="contract-management.html"><i class="fa fa-clipboard"></i> <span>合同信息管理</span></a></li>
            <li class="treeview c-7" id="7">
                <a href="javascript:;"><i class="fa fa-file-powerpoint-o"></i> <span>查询统计中心</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
					<li class=""><a href="works-search.html"><i class="fa fa-search-plus"></i>作品信息查询统计</a></li>
                    <li class=""><a href="contract-search.html"><i class="fa fa-search-plus"></i>合同信息查询统计</a></li>
                    <li class=""><a href="produc-search.html"><i class="fa fa-search-plus"></i>产品信息查询统计</a></li>
                </ul>
            </li>
            <li class="treeview c-12" id="12">
                <a href="javascript:;"> <i class="fa fa-cogs"></i> <span>系统管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li  id="8" class="c-8 li-hide"><a href="system-dictionaries.html"><i class="fa fa-gear "></i>基础字典设置</a></li>
                    <li  class="li-hide"><a href="system-right.html"><i class="fa fa-gear "></i>权利信息设置</a></li>
                    <li  id="9" class="c-9 li-hide"><a href="system-data.html"><i class="fa fa-gear "></i>权利数据设置</a></li>
                    <li  id="10" class="c-10 li-hide"><a href="system-user.html"><i class="fa fa-gear "></i>用户信息设置</a></li>
                    <li  id="11" class="c-11 li-hide"><a href="system-Jurisdiction.html"><i class="fa fa-gear "></i>权限信息设置</a></li>
                    <li  class="li-hide"><a href="system-Journal.html"><i class="fa fa-gear "></i>系统操作日志</a></li>
                    <li  id="13" class="c-13 li-hide"><a href="system-process.html"><i class="fa fa-gear "></i>流程管理</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="messages"></div>
<dl class="user">
    <!-- <dt class="name">汪</dt> -->
    <dd class="out">[退出]</dd>
</dl>
<!--sidbar end-->
<!--cont start-->
<div id="content" class="content contractAdd cont-5">
	<div class="content-wrapper">
        <h3>大地传播</h3>
        <div class="right-title">
            <h3 class="col-md-2 col-lg-2">专利信息管理</h3>
            <div class="right-ht col-md-10 col-lg-10">					
                <div class="btn-operation">
                    <button type="button" class="btn btn-primary btn-adda" data-toggle="modal" data-target="#gengk-added"><i class="glyphicon glyphicon-plus"></i>新增</button>
                    				
                </div>
            </div>
        </div>
        <div class="table-cont">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="th">序号</th>
                        <th>专利名称</th>
                        <th>发明人/设计人</th>
                        <th>专利号</th>
                        <th>证书号</th>
                        <th>权利状态</th>
                        <th>权利类型</th>
                        <th>专利权人</th>
                        <th>项目</th>
                        <th>授权单位</th>
                        <th>被授权单位</th>
                        <th>授权形式</th>
                        <th>有效期</th>
                        <th>授权区域</th>
                        <th>授权范围</th>
                        <th>授权单位经营范围</th>
                        <th>授权金额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="management-list">
                </tbody>
            </table>
        </div>
        <div id="example" class="example">
            <ul id="pageLimit"></ul>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade proRiht" style="display:bock" id="gengk-added" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新增</h4>
			</div>
			<div class="modal-body">
				<div class="row bcf">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
                        <li><a href="#wz" data-toggle="tab">授权信息</a></li>
                        <li><a href="#yy" data-toggle="tab">附件管理</a></li>
                    </ul>
                </div>
                <div id="myTabContent" class="tab-content label110">
                    <div class="tab-pane fade in active" id="home">
                        <form class="form-inline">
                            <div class="form-group col-md-4 col-lg-4 xx">
                                <label for="exampleInputName2">证书号</label>
                                <input type="text" class="form-control" id="zs-nub" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">权利状态</label>
                                <select class="form-control" id="qlzt">
                                </select>
                            </div>                            
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">权利类型</label>
                                <select class="form-control" id="qllx">
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 xx">
                                <label for="exampleInputName2">专利名称</label>
                                <input type="text" class="form-control" id="name" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 xx">
                                <label for="exampleInputName2">发明人/设计人 </label>
                                <input type="text" class="form-control" id="designer" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 xx">
                                <label for="exampleInputName2">专利号 </label>
                                <input type="text" class="form-control" id="number" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">专利权人 </label>
                                <input type="text" class="form-control" id="paten" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">专利申请日</label>
                                <div class='input-group date' id='apply_date'>  
                                    <input type='text' class="form-control" />  
                                    <span class="input-group-addon">  
                                        <span class="glyphicon glyphicon-calendar"></span>  
                                    </span>  
                                </div> 
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权公告日</label>
                                <div class='input-group date' id='notice_date'>  
                                    <input type='text' class="form-control" />  
                                    <span class="input-group-addon">  
                                        <span class="glyphicon glyphicon-calendar"></span>  
                                    </span>  
                                </div> 
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">代理机构</label>
                                <input type="text" class="form-control" id="agency" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">产品名称</label>
                                <input type="text" class="form-control" id="product_name" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">下次缴费时间</label>
                                <input type="text" class="form-control" id="next_payment_time" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">费用总额 </label>
                                <input type="text" class="form-control" id="total_cost" placeholder="">
                            </div>
                            <!-- <div class="form-group col-md-12 col-lg-12">
                                <label for="exampleInputName2">费用详情</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-12 col-lg-12">
                                <label for="exampleInputName2">产品用途</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-12 col-lg-12">
                                <label for="exampleInputName2">裁定结果</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div> -->
                        </form>                        
                    </div>
                    <div class="tab-pane fade" id="wz">
                        <form class="form-inline">
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">专利信息</label>
                                <select class="form-control" id="is_patent">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">项目</label>
                                <input type="text" class="form-control" id="project" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权单位</label>
                                <input type="text" class="form-control" id="authorize_unit" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">被授权单位</label>
                                <input type="text" class="form-control" id="authorized_unit" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权形式</label>
                                <select class="form-control" id="authorize_type">
                                </select>
                            </div>                            
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">有效期</label>
                                <div class='input-group date' id='term_of_validity_start'>  
                                    <input type='text' class="form-control" />  
                                    <span class="input-group-addon">  
                                        <span class="glyphicon glyphicon-calendar"></span>  
                                    </span>  
                                </div> 
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">至</label>
                                <div class='input-group date' id='term_of_validity_end'>  
                                    <input type='text' class="form-control" />  
                                    <span class="input-group-addon">  
                                        <span class="glyphicon glyphicon-calendar"></span>  
                                    </span>  
                                </div> 
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权年限</label>
                                <input type="text" class="form-control" id="authorized_years" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权区域</label>
                                <select class="form-control" id="authorized_area">
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授式范围</label>
                                <select class="form-control" id="scope_of_authorization">
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权单位经营范围</label>
                                <input type="text" class="form-control" id="scope_of_operation" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">授权金额</label>
                                <input type="text" class="form-control" id="authorized_amount" placeholder="">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 htname">
                                <label for="exampleInputName2">合同信息</label>
                                <input type="text" class="form-control ht-name-add" readonly id="ht-news" placeholder="" data-toggle="modal" data-target="#modal-choiceContracts-produc">
                            </div>
                            <input type="hidden" id="mark_contract_id" class="htid">
                            <!-- <div class="form-group col-md-4 col-lg-4">
                                <label for="exampleInputName2">合同金额</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div> -->
                            <div class="form-group col-md-12 col-lg-12">
                                <label for="exampleInputName2">备注</label>
                                <textarea style="width:80%;" class="form-control" rows="3" id="bz"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="yy">
                        <div class="right-title">
                            <div class="right-ht col-md-12 col-lg-12">				
                                <div class="btn-operation" style="text-align: right;padding:20px;">
                                    <button type="button" class="btn btn-primary" id="btn-added" data-class="manage-file"><i class="glyphicon glyphicon-plus"></i>上传附件</button>
                                </div>
                            </div>				
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <!-- <th class="th">序号</th> -->
                                    <th>附件名称</th>
                                    <th>附件类型</th>
                                    <th>附件大小</th>
                                    <th>上传日期</th>
                                    <th>上传人</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="manage-file">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary btn-xz-qr">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<!--合同详情-->
<%= require('html-loader!./include/modal-detailsContract-produc.html') %>
<!--选择合同-->
<%= require('html-loader!./include/modal-choiceContracts-produc.html') %>
<!--创建合同-->
<%= require('html-loader!./include/modal-createContract-produc.html') %>
<!--合同签约方-->
<%= require('html-loader!./include/modal-signatoryInformation.html') %>
<!--删除-->
<%= require('html-loader!./include/modal-del.html') %>
<div class="modal fade gengk-look" style="display:blck" id="modal-details-look" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">专利详情</h4>
            </div>
            <div class="modal-body">
                <div class="details">
                    <div class="row">
                        <h4>基础信息</h4>
                        <div class="row-cont details-jic">
                            <ul class="ul-01">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <h4>授权信息</h4>
                        <div class="row-cont details-jic">
                            <ul class="ul-02">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <h4>附件信息</h4>
                        <div class="row-cont">
                            <div class="table-cont">
                                <table class="table table-bordered table-striped automin">
                                    <thead>
                                        <tr>
                                            <th>附件名称</th>
                                            <th>附件类型</th>
                                            <th>附件大小</th>
                                            <th>上传日期</th>
                                            <th>上传人</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ul-03"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>