<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Miminium Admin Template v.1">
	<meta name="author" content="Isna Nur Azis">
	<meta name="keyword" content="">
	<title>大地-作品信息查询统计</title>
</head>
<body>
<!--header start-->
<div id="header" class="header">
	<div class="container-fluid">
		
	</div>
</div>
<!--header end-->
<!--sidebar start-->
<aside class="main-sidebar">
    <section  class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">大地后台管理系统</li>
            <li class="" style="display: block"><a href="index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
            <li class="treeview">
                <a href="javascript:;"> <i class="fa fa-file-powerpoint-o"></i> <span>著作权管理</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
					<li id="1" class="c-1 li-hide">
                        <a href="javascript:;"><i class="fa fa-credit-card"></i>作品信息管理<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
							<li class=""><a href="works-music.html"><i class="fa fa-edit"></i>音乐作品</a></li>
							<li class=""><a href="works-fineArts.html"><i class="fa fa-edit"></i>美术作品</a></li>
							<li class=""><a href="works-words.html"><i class="fa fa-edit"></i>文字作品</a></li>
							<li class=""><a href="works-theatre.html"><i class="fa fa-edit"></i>戏剧作品</a></li>
							<li class=""><a href="works-movies.html"><i class="fa fa-edit"></i>影视动画作品</a></li>
                        </ul>
                    </li>
					<li id="2" class="c-2 li-hide"><a href="produc-management.html"><i class="fa fa-credit-card"></i>产品信息管理</a></li>
                </ul>
            </li>
            <li id="4" class="c-4"><a href="trademark-management.html"><i class="fa fa-edit"></i> <span>商标信息管理</span></a></li>
            <li id="5" class="c-5"><a href="patent-management.html"><i class="fa fa-edit"></i> <span>专利信息管理</span></a> </li>
            <li id="6" class="c-6"><a href="field-management.html"><i class="fa fa-edit"></i> <span>域名信息管理</span></a> </li>
            <li id="3" class="c-3"><a href="contract-management.html"><i class="fa fa-clipboard"></i> <span>合同信息管理</span></a></li>
            <li class="treeview c-7 active" id="7">
                <a href="javascript:;"><i class="fa fa-file-powerpoint-o"></i> <span>查询统计中心</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu active">
					<li class=" active"><a href="works-search.html"><i class="fa fa-search-plus"></i>作品信息查询统计</a></li>
                    <li class=""><a href="contract-search.html"><i class="fa fa-search-plus"></i>合同信息查询统计</a></li>
                    <li class=""><a href="produc-search.html"><i class="fa fa-search-plus"></i>产品信息查询统计</a></li>
                </ul>
            </li>
            <li class="treeview c-12" id="12">
                <a href="javascript:;"> <i class="fa fa-cogs"></i> <span>系统管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li  id="8" class="c-8 li-hide"><a href="system-dictionaries.html"><i class="fa fa-gear "></i>基础字典设置</a></li>
                    <li  class="li-hide"><a href="system-right.html"><i class="fa fa-gear "></i>权利信息设置</a></li>
                    <li  id="9" class="c-9 li-hide"><a href="system-data.html"><i class="fa fa-gear "></i>权利数据设置</a></li>
                    <li  id="10" class="c-10 li-hide"><a href="system-user.html"><i class="fa fa-gear "></i>用户信息设置</a></li>
                    <li  id="11" class="c-11 li-hide"><a href="system-Jurisdiction.html"><i class="fa fa-gear "></i>权限信息设置</a></li>
                    <li  class="li-hide"><a href="system-Journal.html"><i class="fa fa-gear "></i>系统操作日志</a></li>
                    <li  id="13" class="c-13 li-hide"><a href="system-process.html"><i class="fa fa-gear "></i>流程管理</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="floww">
		<a class="close-aa">X</a>
		<div class="btn-floww">
			<span class="floww-go">通过</span>
			<span class="floww-out">未通过</span>
		</div>
	</div>
<div class="messages"></div>
<div class="iframe" style="display: none">
    <a class="i-cloe">X</a>
    <div class="i-cont">
        <iframe id="iframe" src='' width='100%' height='100%' frameborder='1'>
        </iframe>
    </div>    
</div>
<dl class="user">
    <!-- <dt class="name">汪</dt> -->
    <dd class="out">[退出]</dd>
</dl>
<!--sidbar end-->
<!--cont start-->
<div id="content" class="content">
	<div class="content-wrapper">
		<h3>大地传播</h3>
		<div class="search">
			<div class="row">
				<div class="col-md-6 col-lg-6 col-md-push-3">
					<div class="input-group col-md-12 col-lg-12">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全部<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li id=""><a href="javascript:;">全部</a></li>	
								<li id="1"><a href="javascript:;">音乐</a></li>								
								<li id="2"><a href="javascript:;">美术</a></li>
								<li id="3"><a href="javascript:;">文字</a></li>
								<li id="4"><a href="javascript:;">戏剧</a></li>
								<li id="5"><a href="javascript:;">影视动漫</a></li>
							</ul>
						</div><!-- /btn-group -->
						<input type="text" class="form-control" id="ht-name" aria-label="...">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
				<button type="button" class="btn btn-primary col-md-push-3 btn-query">查询</button>
			</div>
		</div>
		<div class="ip-list" style="background: transparent">
			<div class="title-h3"><h3>作品信息查询统计</h3></div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#list" data-toggle="tab">列表</a>
				</li>
				<li><a href="#charst" data-toggle="tab">数据图</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="list">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>序号</th>
								<th>作品ID</th>
								<th>作品名称</th>
								<th>作品类型</th>
								<th>题材类型</th>
								<th>权利信息</th>
								<th>授权人</th>
								<th>入库日期</th>
								<th>入库人</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody class="tabel-cont">
						</tbody>
					</table>
					<div id="example" class="example">
						<ul id="pageLimit"></ul>
					</div>
				</div>
				<div class="tab-pane fade" id="charst">
					<div class="ip-details">						
						<div class="row">
							<div class="col-md-6 col-lg-6 pr10">
								<div class="panel panel-default">									
									<div class="panel-body">
									   <div id="container" style="height: 100%"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-6 pl10">
								<div class="panel panel-default">
									<div class="panel-body">
									   <div id="container1" style="height: 100%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>		
	</div>
</div>
<!--作品详情-->
<%= require('html-loader!./include/modal-details-look.html') %>
<!-- 模态框（Modal） -->
<div class="modal fade delete" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Modal
				</h4>
			</div>
			<div class="modal-body">
				确认要删除吗？
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-primary">确认</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!--删除-->
<%= require('html-loader!./include/modal-del.html') %>
</body>
</html>