<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Miminium Admin Template v.1">
	<meta name="author" content="Isna Nur Azis">
	<meta name="keyword" content="">
	<title>大地-影视动画作品</title>
</head>
<body class="movies">
<!--header start-->
<div id="header" class="header"><div class="container-fluid"></div></div>
<!--header end-->
<!--sidebar start-->
<aside class="main-sidebar">
    <section  class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">大地后台管理系统</li>
            <li class="" style="display: block"><a href="index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
            <li class="treeview active">
                <a href="javascript:;"> <i class="fa fa-file-powerpoint-o"></i> <span>著作权管理</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu active">
					<li id="1" class="c-1 li-hide active">
                        <a href="javascript:;"><i class="fa fa-credit-card"></i>作品信息管理<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu active">
							<li class=""><a href="works-music.html"><i class="fa fa-edit"></i>音乐作品</a></li>
							<li class=""><a href="works-fineArts.html"><i class="fa fa-edit"></i>美术作品</a></li>
							<li class=""><a href="works-words.html"><i class="fa fa-edit"></i>文字作品</a></li>
							<li class=""><a href="works-theatre.html"><i class="fa fa-edit"></i>戏剧作品</a></li>
							<li class=" active"><a href="works-movies.html"><i class="fa fa-edit"></i>影视动画作品</a></li>
                        </ul>
                    </li>
					<li id="2" class="c-2 li-hide"><a href="produc-management.html"><i class="fa fa-credit-card"></i>产品信息管理</a></li>
                </ul>
            </li>
            <li id="4" class="c-4"><a href="trademark-management.html"><i class="fa fa-edit"></i> <span>商标信息管理</span></a></li>
            <li id="5" class="c-5"><a href="patent-management.html"><i class="fa fa-edit"></i> <span>专利信息管理</span></a> </li>
            <li id="6" class="c-6"><a href="field-management.html"><i class="fa fa-edit"></i> <span>域名信息管理</span></a> </li>
            <li id="3" class="c-3"><a href="contract-management.html"><i class="fa fa-clipboard"></i> <span>合同信息管理</span></a></li>
            <li class="treeview c-7" id="7">
                <a href="javascript:;"><i class="fa fa-file-powerpoint-o"></i> <span>查询统计中心</span> <i class="fa fa-angle-left pull-right"></i> </a>
                <ul class="treeview-menu">
					<li class=""><a href="works-search.html"><i class="fa fa-search-plus"></i>作品信息查询统计</a></li>
                    <li class=""><a href="contract-search.html"><i class="fa fa-search-plus"></i>合同信息查询统计</a></li>
                    <li class=""><a href="produc-search.html"><i class="fa fa-search-plus"></i>产品信息查询统计</a></li>
                </ul>
            </li>
            <li class="treeview c-12" id="12">
                <a href="javascript:;"> <i class="fa fa-cogs"></i> <span>系统管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li  id="8" class="c-8 li-hide"><a href="system-dictionaries.html"><i class="fa fa-gear "></i>基础字典设置</a></li>
                    <li  class="li-hide"><a href="system-right.html"><i class="fa fa-gear "></i>权利信息设置</a></li>
                    <li  id="9" class="c-9 li-hide"><a href="system-data.html"><i class="fa fa-gear "></i>权利数据设置</a></li>
                    <li  id="10" class="c-10 li-hide"><a href="system-user.html"><i class="fa fa-gear "></i>用户信息设置</a></li>
                    <li  id="11" class="c-11 li-hide"><a href="system-Jurisdiction.html"><i class="fa fa-gear "></i>权限信息设置</a></li>
                    <li  class="li-hide"><a href="system-Journal.html"><i class="fa fa-gear "></i>系统操作日志</a></li>
                    <li  id="13" class="c-13 li-hide"><a href="system-process.html"><i class="fa fa-gear "></i>流程管理</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="floww">
		<a class="close-aa">X</a>
		<div class="btn-floww">
			<div class="ms"><label>原因</label><input type="text" id="miaosu"></div>
			<div class="div-span">
				<span class="floww-go">通过</span>
				<span class="floww-out">未通过</span>
			</div>		
		</div>
	</div>
<div class="messages"></div>
<div class="iframe" style="display: none">
    <a class="i-cloe">X</a>
    <div class="i-cont">
        <iframe id="iframe" src='' width='100%' height='100%' frameborder='1'>
        </iframe>
    </div>    
</div>
<dl class="user">
    <!-- <dt class="name">汪</dt> -->
    <dd class="out">[退出]</dd>
</dl>
<!--sidbar end-->
<!--cont start-->
<div id="content" class="content">
	<div class="content-wrapper  cont-1">
		<h3>大地传播</h3>
		<div class="content-01">
			<div class="ip-list">
				<div class="title-h3">
						<h3>影视动画作品列表</h3>
					<button type="button" id="2" class="btn btn-primary btn-adda z-2"><i class="glyphicon glyphicon-plus"></i>新增</button>
					<button type="button" id="exportMoviesBtn" class="btn btn-default">导出数据<i class="glyphicon glyphicon-download-alt"></i></button>
				</div>
				<table class="table table-striped td1">
					<thead>
						<tr>
							<th>序号</th>
							<th>作品编号</th>
							<th>作品名称</th>
							<th>作品类型</th>
							<th>题材类型</th>
							<!-- <th>作品委托机构</th> -->
							<th>审核状态</th>
							<th style="width:100px!important">操作</th>
						</tr>
					</thead>
					<tbody class="tabel-cont" id="works-list">
					</tbody>
				</table>
				<div id="example" class="example">
					<ul id="pageLimit"></ul>
				</div>
			</div>
		</div>
		<div class="content-02" style="display: none">
			<ul class="step">
				<li class="col-md-4 col-lg-4 step-left active">1.基础信息</li>
				<li class="col-md-4 col-lg-4 step-center ">2.权利信息</li>
				<li class="col-md-4 col-lg-4 step-right ">3.附件信息</li>
			</ul>
			<div>
				<!--基础信息 start-->
				<div class="basics main">
					<div class="form-inline form-2">
						<!-- <div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">作品ID</label>
							<input type="text" class="form-control" id="work-id" placeholder="">
						</div> -->
						<div class="form-group col-md-4 col-lg-4 xx">
							<label for="name">作品名称</label>
							<input type="text" class="form-control" id="work-name" value="">
							<div class="select-div">
								<ul>
									<li>作</li>
									<li>作品</li>
									<li>作品名</li>
									<li>作品名称</li>
								</ul>
							</div>
						</div>
						<div class="form-group col-md-4 col-lg-4 xx">
							<label for="name">作品类型</label>
							<select class="form-control" id="work-type">
							</select>
						</div>
						<div class="form-group col-md-4 col-lg-4 xx">
							<label for="name">题材类型</label>
							<select class="form-control" id="theme-type">
							</select>
						</div>	
						<div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputName2">第一出品方名称</label>
								<input type="text" class="form-control" id="producer" placeholder="">
						</div>
						<!-- <div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputName2">联合出品方名称</label>
								<input type="text" class="form-control" id="joint_producer" placeholder="">
							</div>
							<div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputName2">主创人员名称</label>
								<input type="text" class="form-control" id="creator_name" placeholder="">
						</div>
						<div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputName2">主创人员类型</label>
								<input type="text" class="form-control" id="creator_type" placeholder="">
							</div>
							<div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputName2">资源存储介质</label>
								<input type="text" class="form-control" id="storage_medium" placeholder="">
							</div>
							<div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputName2">资源大小</label>
								<input type="text" class="form-control" id="storage_medium_size" placeholder="">
						</div>	 -->
						<div class="form-group col-md-4 col-lg-4">
								<label for="name">权利人</label>
								<input type="text" class="form-control" id="new_shouquanren" placeholder="">
							</div>
							<div class="form-group col-md-4 col-lg-4">
								<label for="name">被授权人</label>
								<input type="text" class="form-control" id="new_beishouquanren" placeholder="">
							</div>	
						<div class="form-group col-md-4 col-lg-4 xx">
							<label for="exampleInputName2">作品时长</label>
							<input type="text" class="form-control" id="lenght-time" placeholder="">
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">发表时间</label>
							<div class='input-group date' style="min-width: 50%" id='public-time'>  
								<input type='text' class="form-control" />  
								<span class="input-group-addon">  
									<span class="glyphicon glyphicon-calendar"></span>  
								</span>  
							</div>  
						</div>
						<div class="form-group col-md-4 col-lg-4">
							<label for="exampleInputName2">上映时间</label>
							<div class='input-group date' style="min-width: 50%" id='creation-time'>  
								<input type='text' class="form-control" />  
								<span class="input-group-addon">  
									<span class="glyphicon glyphicon-calendar"></span>  
								</span>  
							</div>  
						</div>
							<!-- <div class="form-group col-md-4 col-lg-4">
								<label for="exampleInputEmail2">收录专辑</label>
								<input type="text" class="form-control" id="album" placeholder="">
							</div> -->
							<!-- <div class="form-group col-md-4 col-lg-4">
								<label for="name">是否有原件</label>
								<select class="form-control" id="original-script">
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</div> -->
						<div class="form-group col-md-12 col-lg-12">
							<label for="exampleInputEmail2">版本说明</label>
							<textarea class="form-control" rows="3" id="version-description" placeholder="导演、监制、主演等信息"></textarea>
						</div>   
						<div class="form-group col-md-12 col-lg-12">
							<label for="exampleInputEmail2">作品简介</label>
							<textarea class="form-control" rows="3" id="works-desc"></textarea>
						</div>   
					</div>
					<div class="form-inline form-2 button-mt0 mt10">
						<div class="right-title m0 p0">
							<h3 class="col-md-2 col-lg-2 mt10">权利人列表</h3>
							<div class="pull-right col-md-4 col-lg-4 mt10">					
								<div class="btn-operation">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-qbligeeAdd"><i class="glyphicon glyphicon-plus"></i>新增</button>
								</div>
							</div>
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<!-- <th class="th"><input type="checkbox" class="obligee-checkbox-btn" name="obligee-checkbox" value="0">权利人姓名</th> -->
									<th class="th">权利人姓名</th>
									<th>权利人类型</th>
									<th>是否付酬</th>
									<th>币种</th>
									<th>付费金额</th>
									<th style="width:170px">操作</th>
								</tr>
							</thead>
							<tbody class="obligee-list">
								
							</tbody>
						</table>
						<!-- <div id="example" class="example">
							<ul id="pageLimit1"></ul>
						</div> -->
					</div>
					<div class="row row-btn col-md-pull-1">				
						<button type="button" class="btn btn-primary reset-01">重置</button>	
						<button type="button" class="btn btn-primary next-step next-step-01">下一步</button>
					</div>			
				</div>
				<!--基础信息 end-->
				<!--权利信息 start-->
				<div class="right main">
					<div class="right-title">
						<h3 class="col-md-2 col-lg-2">权利信息</h3>
						<div class="right-ht col-md-10 col-lg-10 quanli ipht">
							<div class="btn-group" role="group" aria-label="...">
								<input type="radio" checked name="news" value="0"> 来源于合同
							</div>
							<div class="input-group ">
								<input type="text" class="form-control htNews" placeholder="" id="source-contract-name" disabled="disabled">
								<span class="input-group-btn">
									<button class="btn btn-primary btn-yy" type="button" id="query-reference">查询引用</button>
								</span>
							</div>
							<div class="btn-operation">
								<label><input type="radio" name="news" value="1"> 来源于权利组</label>
								<select class="form-control sel-ly" value="1">
									<option value="1">音著协</option>
									<option value="2">互联网下载</option>
									<option value="3">自制</option>
									<option value="4">其他</option>
								</select>	
							</div>
						</div>
					</div>
					<div class="table-cont">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>序号</th>
									<!-- <th>合同名称</th> -->
									<th>作品名称</th>
									<!-- <th>权力来源</th> -->
									<th>授权人</th>
									<th>授权权利描述</th>
									<th>授权比例</th>									
									<th>产品形态</th>
									<th>有无维权权利</th>
									<th>有无转授权权利</th>
									<!-- <th>有无合同</th> -->
									<th>授权权利</th>
									<th>授权方式</th>
									<!-- <th>授权许可使用方式</th> -->
									<th>使用渠道限制</th>
									<th>授权许可使用地域</th>
									<th>授权许可使用次数</th>
									<th>授权许可使用语言</th>
									<th>授权许可使用开始日期</th>
									<th>授权许可使用结束日期</th>
									<th>合同权利描述</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
								<!-- <tr>
									<th>序号</th>
									<th>合同编号</th>
									<th>合同名称</th>
									<th>作品名称</th>
									<th>集数/期数</th>
									<th>单集价格</th>
									<th>授权人</th>
									<th>被授权人</th>
									<th>产品形态</th>
									<th>授权权利</th>
									<th>授权权利描述（选填）</th>
									<th>授权比例</th>
									<th>授权价格</th>
									<th>授权时间</th>
									<th>授权方式</th>
									<th>授权地域</th>
									<th>授权语言</th>
									<th>是否可以转授权</th>
									<th>是否有维权权利</th>
									<th>使用渠道限制</th>
									<th>使用次数限制</th>
									<th>合同权利描述</th>
									<th>备注</th>
								</tr> -->
							</thead>
							<tbody class="right-news">
								<!-- <tr> 
									<td scope="row">1</td> 
									<td>XX18967545</td> 
									<td>《嗨！看电视》2018XXX采购合同</td> 
									<td>孔子</td> 
									<td>1</td> 
									<td>50000</td> 
									<td>北京英皇</td> 
									<td>北京大地</td> 
									<td>直接使用</td> 
									<td>改编权</td> 
									<td>无</td> 
									<td>40%</td> 
									<td>5000元人民币</td> 
									<td>自网站上线之日起1年内</td> 
									<td>独家授权</td> 
									<td>中国大陆（含港澳台）</td> 
									<td>中文、英文</td> 
									<td>是</td> 
									<td>是</td> 
									<td>是，仅限移动终端</td> 
									<td>无限制</td> 
									<td>合同内文本描述</td> 
									<td>备注备注备注备注备注备注备注备注备注</td>
								</tr> -->
							</tbody>						
						</table>
					</div>
				
					<div id="example" class="example">
						<ul id="pageLimit2"></ul>
					</div>
					<div class="row row-btn col-md-pull-1">				
							<button type="button" class="btn btn-primary reset-02">重置</button>
						<button type="button" class="btn btn-default pre-step">上一步</button>
						<button type="button" class="btn btn-primary next-step next-step-02">下一步</button>
					</div>	
				</div>
				<!--权利信息 end-->
				<!--附件信息 start-->
				<div class="copyright main">
					<div class="right-title">
						<h3 class="col-md-2 col-lg-2">附件列表</h3>
						<div class="right-ht col-md-10 col-lg-10">				
							<div class="btn-operation">
								<button type="button" class="btn btn-primary" id="btn-added" data-class="enclosure-list"><i class="glyphicon glyphicon-plus"></i>上传附件</button>
							</div>
						</div>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<!-- <th class="th">序号</th> -->
								<th>附件名称</th>
								<th>附件类型</th>
								<th>附件大小</th>
								<th>上传日期</th>
								<th>上传人</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="enclosure-list">
						</tbody>
					</table>
					<div id="example" class="example">
						<ul id="pageLimit3"></ul>
					</div>
					<div class="row row-btn col-md-pull-1">				
							<button type="button" class="btn btn-primary reset-03">重置</button>		
						<button type="button" class="btn btn-default pre-step">上一步</button>
						<button type="button" class="btn btn-primary next-step">提交</button>
					</div>	
				</div>
				<!--附件信息 end-->
			</div>
		</div>		
	</div>
</div>

<!-- 模态框（Modal） -->
<!--合同详情-->
<%= require('html-loader!./include/modal-detailsContract.html') %>
<!--选择合同-->
<%= require('html-loader!./include/modal-choiceContracts.html') %>
<!--创建合同-->
<%= require('html-loader!./include/modal-createContract.html') %>
<!--权利变更-->
<%= require('html-loader!./include/modal-changeRights.html') %>
<!--合同签约方-->
<%= require('html-loader!./include/modal-signatoryInformation.html') %>
<!--权利信息新增-->
<%= require('html-loader!./include/modal-newly-added1.html') %>
<!--权利人列表-->
<%= require('html-loader!./include/modal-qbligeeAdd.html') %>
<!--作品详情-->
<%= require('html-loader!./include/modal-details-look.html') %>
<!--删除-->
<%= require('html-loader!./include/modal-del.html') %>
</body>
</html>